{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block contenu %}
<section class="uk-container uk-margin-large-top uk-margin-large-bottom">
    <a href="{{ path('app_login') }}"> Retour </a>

    <h1>Réinitialisation du mot de passe</h1>

    {% for message in app.flashes('info') %}
        <div class="alert alert-success"> 
            {{message}}
        </div>
    {% endfor %}
    

    {{ form(form) }}
</section>
{% endblock %}