{% extends 'base.html.twig' %}

{# titre de l'onglet #}
{% block title %}
	Changer le Mot de Passe
{% endblock %}

{% block contenu %}
	<section class="uk-container uk-margin-large-top uk-margin-large-bottom">
		<h2 class="text-center">Changer le Mot de Passe</h2>
		{# formulaire nouveau mot de passe #}
		{{ form(form)}}
	</section>
{% endblock %}
