{% extends 'base.html.twig' %}

{% block title %}Formation supprimée{% endblock %}

{% block contenu %}
   <div class="uk-alert-primary">
   <h2>
   La formation {{ formation.nom }} a bien été supprimée!
   </h2>
   </div>
   <div>
   <a class="uk-button uk-button-primary" href="{{ path('home')}}">Retour</a>
   </div>
{% endblock %}