{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block contenu %}
   <a href="{{ path('app_logout') }}">Logout</a>
   {% if app.user.admin %}
   
   // lien vers le panneau admin
   <a href="#">Admin</a>
   %
   {% endif %}
   <h1>Bienvenue {{ app.user.pseudo }}</h1>
{% endblock %}
