{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block contenu %}
<div class="uk-container-xlarge">
<img src="/img/home_background.jpg" alt="">

    {% if is_granted("ROLE_USER") %}
        <h2>Hello {{ app.user.pseudo }}!</h2>
    {% else %}
        
    {% endif %}
</div>
{% endblock %}
