{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block contenu %}
<div class="uk-container-xlarge">
<img src="/img/home_background.jpg" alt="">

    {% if is_granted("ROLE_USER") %}
<<<<<<< HEAD
        <h2>Hello {{ app.user.pseudo }}!</h2>
=======
        <h2>Hello {{ app.user.pseudo }}! ✅</h2>
>>>>>>> 38a77e6dff084b6b326119ee2e1968373c0fe21e
    {% else %}
        
    {% endif %}
</div>
{% endblock %}
