{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block contenu %}
<div class="uk-background-top-left uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-middle uk-flex-center" style="background-image: url(/img/home_background.jpg);">
    
    <div>
    {% if is_granted("ROLE_USER") %}
        <h2 style="color: #fafafa" >Hello {{ app.user.pseudo }}!</h2>
    {% else %}
        
    {% endif %}
    </div>
</div>
{% endblock %}
