{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block contenu %}
<div class="wrapper">
    {% if is_granted("ROLE_USER") %}
        <h2>Hello {{ app.user.email }}! ✅</h2>
    {% else %}
        <h2>Hello visiteur!</h2>
    {% endif %}
</div>
{% endblock %}
