{% extends 'base.html.twig' %}

{% block title %}Bienvenue!
{% endblock %}
{% block contenu %}
	<div class="uk-background-top-left uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-middle uk-flex-center" uk-parallax="bgy: -200">
		<div class="uk-flex uk-flex-column ">
			{% if is_granted("ROLE_USER") %}
				<h1 class="uk-heading-large">
				    Bonjour {{ app.user.pseudo }}!
				</h1>
			{% else %}
				<h1 class="uk-heading-large">Bienvenue!</h1>
				<p class="uk-heading-small uk-text-center uk-margin-remove-top">Connectez-vous</p>
			</div>
		{% endif %}
	</div>
{% endblock %}
