*{
    box-sizing: border-box;
}
.alert-warning{
    color: crimson;
    font-size: large;
}

/*-------------------------------------------------------------
--------------------------HEADER------------------------------
-------------------------------------------------------------*/

.fa-user {
  font-size: 38px;
  color: #212121;
  margin-top: 10px;
}

.fa-user:hover {
  color: #1e87f0;
}

.logout {
  margin-bottom: 20px;
}

.login-btn:hover {
  background-color: #1e87f0;
}

nav a {
  border-bottom: 3px solid white;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}
nav a:hover {
  border-bottom: 3px solid #1e87f0;
}

/*-------------------------------------------------------------
--------------------------TITLES/BUTTONS------------------------------
-------------------------------------------------------------*/

.uk-heading-large,
.uk-heading-small,
table,
h1,
h2,
.register-btn,
.back-btn {
  font-family: "Nunito", sans-serif;
}

.uk-heading-large,
.uk-heading-small {
  color: #fafafa;
}

.uk-heading-large {
  font-weight: 700;
}

.fa-calendar-alt {
  font-size: 18px;
  font-weight: 300;
}

.back-btn {
  font-weight: 700;
  color: #1e87f0;
  border-radius: 24px;
}

.add-btn{
    background-color: #1e87f0;
    color:#fafafa;
    border-radius: 24px;
}

.delete-btn{
    background-color: red;
    color:#fafafa;
    border-radius: 24px;
}

.calendar-btn{
    background-color: #1a1a1b;
    color:#fafafa;
    border-radius: 24px;
}

/*-------------------------------------------------------------
--------------------------BACKGROUND------------------------------
-------------------------------------------------------------*/

.uk-background-cover {
  background-image: url(/img/home_background.jpg);
  height: 100vh;
}

.uk-background-default {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 22px;
}


/*-------------------------------------------------------------
--------------------------FOOTER------------------------------
-------------------------------------------------------------*/

footer {
  z-index: 600;
  height: 30px;
  align-items: center;
}
