{% extends 'base.html.twig' %}

{% block title %}Ajouter un stagiaire{% endblock %}

{% block contenu %}
<section class="uk-container uk-margin-large-top uk-margin-large-bottom">
   <h2>Ajouter un stagiaire</h2>
   {{ form(formAddstagiaire) }}
</section>
{% endblock %}