{% extends 'base.html.twig' %}

{% block contenu %}
    <div class="uk-card">
       <h4>Fiche stagiaire</h4>
       <h2 class="uk-card-title">{% stagiaire.prenom ~ ' ' ~ stagiaire.nom %}</h2>
    </div>
{% endblock %}