{% extends 'base.html.twig' %}

{% block title %}Panneau de contrôlele{% endblock %}

{% block contenu %}
<main class="uk-flex uk-flex-row">
  <aside class="uk-background-primary uk-panel-scrollable">
     <ul>
       <li><a href=""></a></li>
       <li><a href=""></a></li>
       <li><a href=""></a></li>
     </ul>
  </aside>
</main>
{% endblock %}
