{% extends 'base.html.twig' %}

{% block title %}Supprimer un module{% endblock %}


{% block contenu %}
	<section id="modal1"class="uk-background-top-left uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-middle uk-flex-center"  uk-parallax="bgy: -200">
		<div class="uk-alert uk-background-default">
			<h2 class="uk-card-title uk-margin-top">
				Êtes vous sûr(e) de vouloir supprimer
				{{ module.libelle }} ?
			</h2>
			<div class="uk-card-title uk-margin-top">
			<a class="uk-button uk-button-primary" href="{{ path('module_delete', {id: module.id}) }}">OUI</a>
			<a class="uk-button uk-button-danger" href="{{ path('module_index') }}">NON</a>
			</div>
		</div>
	</section>
{% endblock %}
