{% extends 'base.html.twig' %}

{% block title %}Module supprimé{% endblock %}

{% block contenu %}
   <div class="uk-alert-primary">
   <h2>
   Le Module {{ module.libelle }} a bien été supprimé !
   </h2>
   </div>
   <div>
   <a class="uk-button uk-button-primary" href="{{ path('home')}}">Retour</a>
   </div>
{% endblock %}