{% extends 'base.html.twig' %}

{% block title %}Ajouter/modifier un module{% endblock %}

{% block contenu %}
<section class="uk-container uk-margin-large-top uk-margin-large-bottom">
   {% if editMode %}
      <h2>Modifier un module</h2>
   {% else %}
      <h2>Ajouter un module</h2>
   {% endif %}
   {{ form(formAddModule) }}
</section>
{% endblock %}