{% extends 'base.html.twig' %}

{% block title %}Stagiaire supprimé
{% endblock %}

{% block contenu %}
	<div class="uk-alert-primary">
		<h2>
			L'utilisateur a bien été supprimé !
		</h2>
	</div>
	<div>
		<a class="uk-button uk-button-primary" href="{{ path('home')}}">Retour</a>
	</div>
{% endblock %}
